registry=https://artifacthub-phx.oci.oraclecorp.com/api/npm/npmjs-remote
noproxy=.us.oracle.com,.oraclecorp.com,localhost,127.0.0.1
https-proxy=http://www-proxy-ash7.us.oracle.com:80
proxy=http://www-proxy-ash7.us.oracle.com:80

engine-strict=true
